
.toggle-password-custom-button {
    margin-left: 5px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    background-color: #00CDAF;
    border: 1px solid #B0B0B0;
    border-radius: 3px;
    color: #000000;
    font-family: inherit;
  }

  .toggle-password-custom-button:hover {
    background-color: #003d34;
  }

  .toggle-password-custom-button:focus {
    outline: none;
  }
  